<div class="container">

  <h2 class="page-title">What can we help you find?</h2>


  <div class="cards-index-container">
    <% @flats.each do |flat| %>
      <%= link_to flat_path(flat), action: 'go' do %>
          <div class="card-trip">
            <%= cl_image_tag flat.images.first.url, height: 300, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h2><%= flat.name %></h2>
                <p><%= flat.description.split[0...20].join(' ') %></p>
              </div>
              <h2 class="card-trip-pricing">£<%= flat.price %></h2>
              <%= cl_image_tag flat.user.profile_pic, width: 150, height: 150, crop: :thumb, gravity: :face, class: "card-trip-user" %>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>


</div>


