<div class="container">

  <h2 class="page-title"><%=@flats.count%> homes</h2>


  <div class="cards-index-meta-container">
  <div class="cards-grid col-sm-7">
      <% @flats.each do |flat| %>
        <%= link_to flat_path(flat), action: 'go' do %>
            <div class="card-trip">
              <%= cl_image_tag flat.display_main_image, height: 300, width: 400, crop: :fill %>
              <div class="card-trip-infos">
                <div>
                  <p class="card-room-type"><%= flat.room_type %></p>
                  <h2><%= flat.name %></h2>
                  <p><%= flat.description.split[0...10].join(' ') %></p>
                </div>
                <h2 class="card-trip-pricing">£<%= flat.price %></h2>
                <%= cl_image_tag flat.user.profile_pic, width: 150, height: 150, crop: :thumb, gravity: :face, class: "card-trip-user avatar avatar-bordered" %>
              </div>
            </div>
        <% end %>
      <% end %>
  </div>
    <div
      id="map"
      class="col-sm-5"
      style="width: 100%;
      height: 100vh;
      position: sticky;
      top: 0;
      .markers {
      background-image: url('picture.png');
      background-size: cover;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      }"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

</div>


