<h1><%= @flat.name %></h1>
<p>Hosted by <%=@user.name %></p>
<% @flat.images.each do |image| %>
<%= cl_image_tag image.url, height: 300, width: 400, crop: :fill %>
<% end %>
<%= link_to 'Change pictures', flat_images_path(@flat) %>
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<p><%=@flat.price%>€ per night</p>
<p><%= link_to 'Request to book', new_flat_reservation_path(@flat) %></p>

<p> <%= link_to "View all listings", flats_path %> </p>
<p> <%= link_to "Back to listings", flats_path %> </p>
<p> <%= link_to "Remove listing", flat_path(@flat),
          method: :delete,
          data: { confirm: "Are you sure you want to remove your #{@flat.name} listing?" }%></p>
