<h1><%= @flat.name %></h1>
<p>Hosted by <%=@user.name %></p>
  <img src="<%=@flat.picture%>" alt="main picture" class="main-picture">
<p><%= @flat.address %></p>
<p><%= @flat.description %></p>
<p><%=@flat.price%>€ per night</p>

<p> <%= link_to "View all listings", flats_path %> </p>
<p> <%= link_to "Back to listings", flats_path %> </p>
<p> <%= link_to "Remove listing", flat_path(@flat),
          method: :delete,
          data: { confirm: "Are you sure you want to remove your #{@flat.name} listing?" }%></p>
