<%= render 'carousel' %>


<div class="show-page-content-container">
  <div class="show-page-heading-wrapper">
    <div class="show-page-property-tag">
      <% if !@flat.property_type.nil? %>
        <p><%= @flat.property_type %></p>
      <% else %>
        <p>Entire House</p>
      <% end %>
    </div>
    <div class="show-page-heading">
      <div class="show-page-heading-left">
        <h2><%= @flat.name %></h2>
        <p><%= @flat.address %></p>
      </div>
      <div class="show-page-heading-right text-center">
        <%= cl_image_tag @flat.user.profile_pic, width: 75, height: 75, crop: :thumb, gravity: :face, class: "card-trip-user avatar avatar-bordered" %>
          <p><%= @flat.user.name %></p>
      </div>
    </div>
  </div>

<hr>

  <ul class="list-inline show-page-links">
    <li><%= link_to 'Change pictures', flat_images_path(@flat) %></li>
    <li>  <%= link_to "Remove listing", flat_path(@flat),
                method: :delete,
                data: { confirm: "Are you sure you want to remove your #{@flat.name} listing?" }%></li>
    <li> <%= link_to "Back to listings", flats_path %></li>
  </ul>

  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <p><%=@flat.price%>€ per night</p>
  <p><%= link_to 'Request to book', new_flat_reservation_path(@flat) %></p>
  <div class="booking-info">
      <% @flat.reservations.each do |res| %>
      <p>Booked from: <%= res.start_date %></p>
      <p>To: <%= res.end_date %></p>
    <% end %>
  </div>
  <div class="container1">
    <p> <%= link_to "Back to listings", flats_path, class: 'btn btn-primary-teal' %> </p>
  </div>

</div>
