<!-- <div class="container0"> -->
<div class="show-page-container">

  <div class="banner" style="background-image: url(<%= cl_image_path(@flat.display_main_image, :crop => "fill")%>)">
    <div class="banner-content"></div>
  </div>

  <div class="container1">
    <h2><%= @flat.name %></h2>
    <h4>Hosted by <%=@user.name %></h4>
  </div>

  <ul class="list-inline show-page-links">
    <li><%= link_to 'Change pictures', flat_images_path(@flat) %></li>
    <li>  <%= link_to "Remove listing", flat_path(@flat),
                method: :delete,
                data: { confirm: "Are you sure you want to remove your #{@flat.name} listing?" }%></li>
    <li> <%= link_to "Back to listings", flats_path %></li>
  </ul>

  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <p><%=@flat.price%>€ per night</p>
  <p><%= link_to 'Request to book', new_flat_reservation_path(@flat), class: 'btn btn-secondary-teal' %></p>
  <div class="booking-info">
      <% @flat.reservations.each do |res| %>
      <p>Booked from: <%= res.start_date %></p>
      <p>To: <%= res.end_date %></p>
    <% end %>
  </div>
  <div class="container1">
    <p> <%= link_to "Back to listings", flats_path, class: 'btn btn-primary-teal' %> </p>


  </div>
</div>


<!-- </div> -->
