<!-- <div class="container0"> -->
<div class="show-page-container">


  <div class="carousel-wrapper">

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="false">
      <!-- Wrapper for slides -->
      <div class="carousel-inner banner" role="listbox">
        <% @flat.images.each_with_index do |image, index| %>
          <% if index == 0 %>
              <div class="item active">
                 <%= cl_image_tag(image.url, options = {:crop => "crop", :gravity=>"face"}) %>
              </div>
          <% else %>
              <div class="item">
                <%= cl_image_tag(image.url, options = {:crop => "crop", :gravity=>"face"}) %>
              </div>
          <% end %>
        <% end %>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>





  <div class="container1">
    <h2><%= @flat.name %></h2>
    <h4>Hosted by <%=@user.name %></h4>
  </div>

  <ul class="list-inline show-page-links">
    <li><%= link_to 'Change pictures', flat_images_path(@flat) %></li>
    <li>  <%= link_to "Remove listing", flat_path(@flat),
                method: :delete,
                data: { confirm: "Are you sure you want to remove your #{@flat.name} listing?" }%></li>
    <li> <%= link_to "Back to listings", flats_path %></li>
  </ul>

  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <p><%=@flat.price%>€ per night</p>
  <p><%= link_to 'Request to book', new_flat_reservation_path(@flat) %></p>
  <div class="booking-info">
      <% @flat.reservations.each do |res| %>
      <p>Booked from: <%= res.start_date %></p>
      <p>To: <%= res.end_date %></p>
    <% end %>
  </div>
  <div class="container1">
    <p> <%= link_to "Back to listings", flats_path, class: 'btn btn-primary-teal' %> </p>


  </div>
</div>


<!-- </div> -->
