<h1>Hi <%= @user.name %>, welcome to your profile page</h1>
<%= cl_image_tag @user.profile_pic, class: "avatar-large", width: 150, height: 150, crop: :thumb, gravity: :face%>
<%= render 'form' %>
<hr>
<h3>Your flats</h3>
<% @user.flats.each do |flat| %>
  <p> <%= link_to flat.name, flat_path(flat) %>
      <%= flat.price %>
  </p>
<% end %>

<hr>

<h3>Reservations to your flats</h3>

<% @user.flats.each do |flat| %>
  <% flat.reservations.each do |res| %>
  <% if res.status == "Pending" %>
    <div class="reservation-status">
        <%= res.flat.name %>
        <%= link_to res.status, edit_reservation_path(res), class: 'btn btn-primary-teal' %>
      <% end %>
    </div>
  <% end %>
<% end %>

<hr>
<h3>Confirmed bookings</h3>

<% @user.flats.each do |flat| %>
  <% flat.reservations.each do |res| %>
    <% if res.status == "Approved" %>
      <div class="reservation-status">
        <p><%=  User.find(res.user_id).name %>
          is confirmed to stay in: <%= res.flat.name %></p>
        <p>Between: <%= res.start_date %> and <%= res.end_date %></p>
        <%= link_to 'Change reservation status', edit_reservation_path(res), class: 'btn btn-warning' %>
      </div>
      <br>
    <% end %>
  <% end %>
<% end %>
<hr>
<h3>Your planned trips</h3>
<p>Here is where your trips would be</p>
<hr>

<%= link_to 'Back to index', flats_path, class: 'btn btn-secondary-teal' %>
