<div class="page-container">
  <div class="profile-page-container">
    <div class="profile-heading-container">
      <div class="profile-page-avatar">
        <%= cl_image_tag @user.profile_pic, class: "avatar-large", width: 150, height: 150, crop: :thumb, gravity: :face%>
      </div>
      <div class="profile-pic-update-form">
        <h1 class="page-title">Hi <%= @user.name.capitalize %>, welcome to your profile page</h1>
        <%= render 'form' %>
      </div>
    </div>

    <hr>

    <h3>Your flats</h3>

    <div class="profile-user-flats-list">
      <div class="profile-list-item">
        <% @user.flats.each do |flat| %>
        <div class="flat-image">
          <%= link_to  cl_image_tag(flat.images.first.url, width: 150, height: 115), flat_path(flat) %>
        </div>
        <div class="flat-details">
          <div class="flat-details-left">
            <h4><%= flat.name %></h4>
            <p><%= flat.description %></p>
          </div>
          <div class="flat-details-right">
            <h5>€<%= flat.price %></h5>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <hr>

    <h3>Reservations to your flats</h3>

    <!-- host reservation confirmation logic -->

    <div class="profile-user-flats-list">
      <div class="profile-list-item">
        <% @user.flats.each do |flat| %>
          <% flat.reservations.each do |res| %>
          <% if res.status == "Pending" %>
              <div class="flat-image">
                <%= link_to  cl_image_tag(flat.images.first.url, width: 150, height: 115), flat_path(flat) %>
              </div>
              <div class="flat-details">
                <div class="flat-details-left">
                  <h4><%= res.flat.name %></h4>
                  <p><%= res.start_date.strftime("%b %d, %Y") %> - <%= res.end_date.strftime("%b %d, %Y") %></p>
                </div>
                <div class="flat-details-right">
                  <%= link_to res.status, edit_reservation_path(res), class: 'btn btn-yellow' %>
                </div>
              </div>
          <% elsif res.status == "Approved" %>
              <div class="flat-image">
                <%= link_to  cl_image_tag(flat.images.first.url, width: 150, height: 115), flat_path(flat) %>
              </div>
              <div class="flat-details">
                <div class="flat-details-left">
                  <h4><%= res.flat.name %></h4>
                  <p> <%= res.start_date.strftime("%b %d, %Y") %> - <%= res.end_date.strftime("%b %d, %Y") %></p>
                </div>
                <div class="flat-details-right">
                  <%= link_to res.status, edit_reservation_path(res), class: 'btn btn-teal' %>
                </div>
              </div>
            <% else %>
              <div class="flat-image">
                <%= link_to  cl_image_tag(flat.images.first.url, width: 150, height: 115), flat_path(flat) %>
              </div>
              <div class="flat-details">
                <div class="flat-details-left">
                  <h4><%= res.flat.name %></h4>
                  <p><%= res.start_date.strftime("%b %d, %Y") %> - <%= res.end_date.strftime("%b %d, %Y") %></p>
                </div>
                <div class="flat-details-right">
                  <%= link_to 'Declined', edit_reservation_path(res), class: 'btn btn-red' %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>


    <hr>

    <h3>Upcoming Reservations</h3>

    <div class="profile-user-flats-list">
      <% @user.flats.each do |flat| %>
        <% flat.reservations.each do |res| %>
          <% if res.status == "Approved" %>

            <div class="profile-list-item">
              <div class="flat-image">
                <%= link_to  cl_image_tag(res.user.profile_pic, width: 75, height: 75, class: "avatar"), flat_path(flat) %>
              </div>
              <div class="flat-details">
                <div class="flat-details-left">
                   <h4> <%= res.user.name.capitalize %> is arriving soon! </h4>
                  <p> <%= res.flat.name %> - <%= res.start_date.strftime("%b %d, %Y") %> - <%= res.end_date.strftime("%b %d, %Y") %></p>
                </div>
              </div>
            </div>
          <% end %>

        <% end %>
      <% end %>
    </div>



    <hr>

    <h3>Requested Bookings</h3>

    <div class="profile-user-flats-list">
      <% current_user.reservations.each do |res| %>
      <div class="profile-list-item">
        <div class="flat-image">
          <%= cl_image_tag(Flat.find(res.flat_id).images.first.url, width: 150, height: 115)%>
        </div>
        <div class="flat-details">
          <h4 id="requested-bookings-flat-name"><%= Flat.find(res.flat_id).name %></h4>
          <p><%= res.status %></p>
          <p><%= res.start_date.strftime("%b %d, %Y") %> - <%= res.end_date.strftime("%b %d, %Y") %></p>
        </div>
      </div>
      <hr>
      <% end %>
    </div>


  </div>

</div>
